<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ショップ追加</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
	<header th:replace="admin/adminHeader"></header>
	<main id="main">
		<h1>ショップ追加</h1>
		<span th:utext="${msg}"></span>
		<form action="/admin/shop/add" method="post">
			<table border="1">
				<tr>
					<th>所持ユーザー</th>
					<td>
						<select name="customerId">
							<option th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.name}"
								th:if="${customer.modeId < 3}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th>プラン</th>
					<td>
						<select name="planId">
							<option th:each="plan:${plans}" th:value="${plan.id}" th:text="${plan.name}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th>ショップ名</th>
					<td><input type="text" name="name" th:value="${name}"></td>
				</tr>
			</table>
			<button>作成</button>
		</form>
	</main>
	<footer th:replace="footer"></footer>
</body>

</html>