<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者メニュー</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
	<header id="header">
		<h1><a href="/items" style="text-decoration:none; color: black;">Encircle Market</a></h1>
		<div>
			<box2>
				<span th:text="${@account.name}+' さん'"></span>　
				<a href="/logout">ログアウト</a>
			</box2>
			<script>
				$(function () {
					var height = $("#header").height();
					$("body").css("margin-top", height + 10);
				});
			</script>
	</header>
	<main id="main">
		<h1>管理者メニュー</h1>
		<a href="/admin/account">アカウント管理</a><br>
		<a href="/admin/shop">ショップ管理</a><br>
		<a href="/admin/category">カテゴリー管理</a>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>