<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アカウント詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
	<header th:replace="~{admin/adminHeader}"></header>
	<main id="main">
		<h1>アカウント詳細</h1>
		<table border="1">
			<tr>
				<th>ID</th>
				<td th:text="${customer.id}"></td>
			</tr>
			<tr>
				<th>名前</th>
				<td th:text="${customer.name}"></td>
			</tr>
			<tr>
				<th>モード</th>
				<td th:each="mode:${modes}" th:if="${mode.id == customer.modeId}" th:text="${mode.name}"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td th:text="${customer.address}"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td th:text="${customer.tel}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td th:text="${customer.email}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td th:text="${customer.password}"></td>
			</tr>
		</table>
		<form th:action="'/admin/account/set/' + ${customer.id}" method="get" style="display: inline;">
			<button>更新</button>
		</form>　
		<form th:action="'/admin/account/delete/' + ${customer.id}" method="get" style="display: inline;">
			<button>削除</button>
		</form>
		<hr>
		<h1>配送先一覧</h1>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>住所</th>
				<th>電話番号</th>
				<th>メールアドレス</th>
			</tr>
			<tr th:each="contact:${contacts}">
				<td th:text="${contact.id}"></td>
				<td th:text="${contact.name}"></td>
				<td th:text="${contact.address}"></td>
				<td th:text="${contact.tel}"></td>
				<td th:text="${contact.email}"></td>
			</tr>
		</table>
		<br>
		<hr>
		<th:block th:if="${#lists.size(reviews)}>0">
			<h1>レビュー一覧</h1>
			<table border="1">
				<block th:each="review:${reviews}">
					<tr>
						<th th:each="item:${items}" th:if="${item.id == review.itemId}" colspan="2">商品名：[[${item.name}]]</th>
					</tr>
					<tr>
						<th align="left" style="position: relative;">
							<span th:text="${review.title}"></span>
							<box2 style="right: 0; position: absolute;">
								<span th:text="${review.reviewedOn}"></span>
							</box2>
						</th>
						<th>評価：[[${review.score}]]<input class="score" type="hidden" th:value="${review.score}"></th>
					</tr>
					<tr>
						<td th:text="${review.reviewText}" colspan=2 style="text-align:left;"></td>
					</tr>
				</block>
			</table>
			<br>
			<hr>
		</th:block>
		<th:block th:if="${#lists.size(orders)}>0">
			<h1>注文履歴</h1>
			<table border="1">
				<tr>
					<th>注文ID</th>
					<th>注文日</th>
					<th>配送ID</th>
					<th>配送先</th>
					<th>合計金額</th>
				</tr>
				<tr th:each="order : ${orders}">
					<td th:text="${order.id}"></td>
					<td th:text="${#temporals.format(order.orderedOn, 'yyyy-MM-dd')}"></td>
					<td th:if="${order.contactId == 0}">-</td>
					<td th:text="${order.contactId}" th:if="${order.contactId != 0}"></td>
					<td th:if="${order.contactId == 0}">自宅</td>
					<td th:each="contact:${contacts}" th:if="${order.contactId == contact.id}"
						th:text="${contact.name} + ' ' + ${contact.address}"></td>
					<td th:text="${order.totalPrice}"></td>
				</tr>
			</table>
			<br>
			<h1>注文詳細</h1>
			<table border="1">
				<tr>
					<th>注文ID</th>
					<th>商品ID</th>
					<th>商品名</th>
					<th>単価</th>
					<th>個数</th>
					<th>小計</th>
				</tr>
				<tr th:each="orderDetail : ${orderDetails}">
					<td th:text="${orderDetail.orderId}">
					<td th:text="${orderDetail.itemId}"></td>
					<block th:each="item : ${items}">
						<td th:if="${orderDetail.itemId == item.id}" th:text="${item.name}"></td>
						<td th:if="${orderDetail.itemId == item.id}" th:text="${item.price}"></td>
					</block>
					<td th:text="${orderDetail.quantity}"></td>
					<block th:each="item : ${items}">
						<td th:if="${orderDetail.itemId == item.id}" th:text="${orderDetail.quantity * item.price}">
						</td>
					</block>
				</tr>

			</table>
		</th:block>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>