<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カテゴリー管理メニュー</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
	<header th:replace="~{admin/adminHeader}"></header>
	<main id="main">
		<h1>カテゴリー管理メニュー</h1>
		<table border="1">
			<tr>
				<th>カテゴリー名</th>
				<th>更新</th>
			</tr>
			<tr th:each="category:${categories}">
				<td th:text="${category.name}"></td>
				<td>
					<form th:action="'/admin/category/set/' + ${category.id}" method="get">
						<button>更新</button>
					</form>
				</td>
			</tr>
		</table>
		<button onclick="location.href='/admin/category/add'" style="width: fit-content;">カテゴリーを追加する</button>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>