<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ショップ管理メニュー</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
	<header th:replace="~{admin/adminHeader}"></header>
	<main id="main">
	<h1>ショップ管理メニュー</h1>
	<table border="1">
		<tr>
			<th>ショップ名</th>
			<th>プラン</th>
			<th>状態</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="shop:${shops}">
			<td th:utext="${shop.superUrl}"></td>
			<td th:each="plan:${plans}" th:if="${plan.id == shop.planId}" th:text="${plan.name}"></td>
				<td th:if="${shop.status == 1}">保存中</td>
				<td th:if="${shop.status == 0}">削除済み</td>
			<td>
				<form th:action="'/admin/shop/set/' + ${shop.id}" method="get">
					<button>更新</button>
				</form>
			</td>
			<td>
				<form th:action="'/admin/shop/delete/' + ${shop.id}" method="get">
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>
	<button onclick="location.href='/admin/shop/add'" style="width: fit-content;">ショップを追加する</button>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>