<header id="header">
	<h1><a href="/items" style="text-decoration:none; color: black;">Encircle Market</a></h1>
	<div>
		<box>
			<a href="/shop" th:if="${@account.modeId <= 2}" class="left">ショップメニュー</a>
			<a href="/admin" th:if="${@account.modeId == 1}" class="left">管理者メニュー</a>
		</box>
		<span th:text="${@account.name}+' さん'"></span>　
		<a href="/cart">カートへ</a>　
		<a href="/logout">ログアウト</a>
	</div>
	<script>
		$(function () {
			var height = $("#header").height();
			$("body").css("margin-top", height + 10);
		});
	</script>
</header>