<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>サインイン</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
	<header id="header">
		<h1><a href="/items" style="text-decoration:none; color: black;">Encircle Market</a></h1>
		<script>
			$(function () {
				var height = $("#header").height();
				$("body").css("margin-top", height + 10);
			});
		</script>
	</header>
	<main id="main">
		<h1>ログイン</h1>
		<p style="color: red;" th:text="${msg}"></p>
		<form action="/login" method="post">
			<p>メールアドレス:
				<input type="text" name="email" th:value="${email}" placeholder="E-mail">
			</p>
			<p>パスワード:
				<input type="password" name="password" placeholder="Password">
			</p>
			<button>ログイン</button>
		</form>
		<button onclick="location.href='/login/add'">新規登録</button>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>