<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>レビュー投稿</title><link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script></head>

<body>
	<header th:replace="defaultHeader"></header>
	<a th:href="'/items/' + ${item.id}">戻る</a><br>
	<h1>レビュー投稿</h1>
	<span th:utext="${msg}" style="color: red;"></span>
	<form th:action="'/items/' + ${item.id} + '/review'" method="post">
		<table border="1">
			<tr>
				<th>商品名</th>
				<td th:text="${item.name}"></td>
			</tr>
			<tr>
				<th>評価</th>
				<td>
					<input type="number" name="score" max="5" min="1" th:value="${score}" th:if="${score}">
					<input type="number" name="score" max="5" min="1" value="5" th:if="!${score}"></td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td><input type="text" name="title" th:value="${tatle}"></td>
			</tr>
			<tr>
				<th>本文</th>
				<td><textarea name="reviewText" th:value="${reviewText}"></textarea></td>
			</tr>
		</table>
		<button>投稿</button>
	</form>
<footer th:replace="footer"></footer></body>

</html>