<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アカウント編集</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>

	<header th:replace="defaultHeader"></header>
	<main id="main">
		<h1>アカウント更新</h1>
		<span style="color: red;" th:utext="${msg}"></span>
		<form th:action="'/account/set/' + ${id}" method="post">
			<table border="1">
				<tr>
					<th>名前</th>
					<td><input type="text" name="name" th:value="${name}" placeholder="Name"></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><input type="text" name="email" th:value="${email}" placeholder="E-mail"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="password" name="password" placeholder="Password"></td>
				</tr>
				<tr>
					<th>パスワード(※もう一度入力してください)</th>
					<td><input type="password" name="rePassword" placeholder="Password"></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><input type="text" name="address" th:value="${address}" placeholder="Address"></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><input type="text" name="tel" th:value="${tel}" placeholder="TEL"></td>
				</tr>
			</table><br>
			<button>更新</button>
		</form>
		<footer th:replace="footer"></footer>
</body>

</html>